<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Prevent Box Generation</title>
</head>
<body>
    <div class="wrapper">
        <h1>List of Fruit</h1>
        <ul title="List of Fruit" id="ls-fruit">
            <li>Apple</li>
            <li>Apple</li>
            <li>Apple</li>
            <li>Apple</li>
            <li>Apple</li>
            <li>Apple</li>
            <li>Apple</li>
            <li>Apple</li>
        </ul>

        <h1>List of Cities</h1>
        <ul title="List of Cities" id="ls-cities">
            <li>Sao Paulo</li>
            <li>Sao Paulo</li>
            <li>Sao Paulo</li>
            <li>Sao Paulo</li>
            <li>Sao Paulo</li>
            <li>Sao Paulo</li>
            <li>Sao Paulo</li>
            <li>Sao Paulo</li>
        </ul>
    </div>
</body>
</html>