<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>CSS Shapes</title>
</head>
<body>
    <div class="wrapper">
        <h1>A good example of CSS Shapes</h1>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis fugiat, magni minus culpa hic vero eveniet 
            incidunt tempora eaque unde natus officia nisi vel neque sapiente esse voluptas distinctio ipsa? At fugit cum 
            laboriosam a ducimus, illo quisquam nobis! Vitae nobis accusantium commodi, nostrum voluptates tenetur quis, 
            quibusdam ab enim sit incidunt, magnam sequi similique mollitia esse vel autem eos perferendis reiciendis rerum 
            fuga? Distinctio, doloremque. Veniam cupiditate cumque voluptatem deserunt quo architecto. Exercitationem 
            placeat neque, ex in quam rem voluptatibus porro quasi eveniet odio nisi omnis nam sequi pariatur vero at 
            quisquam quibusdam assumenda animi ad numquam. Veniam quisquam impedit repellendus odit! Distinctio, qui, 
            deserunt ab vitae rem eaque ea consequuntur temporibus reiciendis dolore iusto corrupti aut numquam et.
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil aliquid ratione numquam recusandae placeat, 
            dolor, cumque totam facere autem quia dolores dolore. Facilis itaque, magnam voluptatum inventore debitis 
            velit sint cupiditate labore provident. Ab, culpa suscipit? Labore optio numquam libero accusamus illum. 
            Dolor incidunt eum ratione velit doloribus magnam eveniet animi repudiandae aut corrupti quo aspernatur 
            praesentium, est ullam quae.
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, a ipsam consectetur cumque dolore possimus 
            molestias atque voluptate iure repudiandae autem illo vitae, facilis quae delectus placeat non minus omnis 
            maxime earum corrupti quisquam mollitia suscipit doloremque. Soluta aliquid natus asperiores ex et? Molestias 
            placeat et est ratione enim sequi!
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut rerum dicta iure cum veritatis, reiciendis 
            architecto quo totam deserunt vitae iste est numquam libero voluptatum eaque sapiente distinctio, fugit 
            obcaecati alias praesentium sequi, quidem consequuntur rem quas. Nobis saepe animi necessitatibus at tempore 
            iure numquam, ab ratione, repudiandae veniam veritatis nam voluptates sequi. Repellat error ipsum quidem sequi, 
            quis, necessitatibus facilis exercitationem deserunt nesciunt ab impedit sapiente. Est, autem officia reiciendis 
            beatae vel cupiditate at soluta, pariatur eius, consectetur provident eligendi nesciunt rem impedit modi 
            doloremque vitae commodi nostrum aut odit illum quibusdam aspernatur vero delectus! Quasi optio, omnis culpa 
            libero officiis ut amet eum modi placeat eveniet esse corporis voluptates facere perferendis veritatis 
            voluptatum, reiciendis sed explicabo consequatur delectus. Praesentium, inventore commodi! Ducimus consequatur 
            maxime autem minima unde! Quisquam, voluptatem. Perferendis dolore qui reprehenderit minus laborum, quaerat 
            dolor repellendus recusandae iusto voluptas reiciendis tempore amet est ipsam. Nobis possimus odit voluptate 
            excepturi. Labore tempora, quae a iure numquam dolores libero culpa esse harum vitae, commodi saepe eaque 
            impedit porro sint facere. Suscipit itaque nobis, molestiae, ratione magnam nisi possimus doloribus cupiditate 
            cumque minima laborum aspernatur a nihil ex labore quae laudantium, eos quasi recusandae reprehenderit quis 
            harum enim magni.
        </p>

        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, sit? Repellendus incidunt odit doloremque, 
            beatae hic sequi vero perspiciatis, ducimus, exercitationem veritatis tenetur laborum labore fuga atque vel 
            laudantium sit blanditiis quis. In ipsum, deserunt veniam nostrum autem quae, ducimus molestias obcaecati ea 
            quaerat architecto eaque praesentium commodi libero dolorem ex ut labore molestiae expedita? Distinctio 
            veritatis nulla soluta eligendi dolores eum ratione, cupiditate saepe. Natus hic similique fuga assumenda!
        </p>
    </div>
</body>
</html>