body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.box_left {
    height: 100%;
    width: 659px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, rgba(101, 206, 207, 0.1) 0%, rgba(71, 153, 182, 0.61) 47.4%, #225998 100%);
    position: fixed;
}

.box_left h1 {
    text-align: center;
    text-transform: uppercase;
    color: #225998;
    font-weight: 700;
    font-size: 36px;
}

.menu {
    height: 69px;
    width: 1261px;
    left: 659px;
    top: 0px;
    background: rgba(255, 255, 255, 1);
    position: fixed;
    z-index: 999;
}

ul {
    margin-top: 1.7em;
}

ul li {
    display: inline;
    position: relative;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: capitalize;
    font-weight: bold;
    padding-left: 2em;
    
}


a {
    text-decoration: none;
    font-size: 14px;
    line-height: 106.19%;
    font-style: normal;
    letter-spacing: 0.06em;
    font-size: 1.2em;
    font-weight: 500;
}

.btn {
    border-radius: 7px;
}

a:focus {
    background-color: #225998;
    padding: 0.6em;
    color: white;
}

.box_form {
    height: 1011px;
    width: 1261px;
    left: 659px;
    top: 69px;
    border-radius: 0px;
    background: rgba(250, 250, 250, 1);
    position: fixed;
}

.iframeform {
    width: 100%;
    height: 100%;
    border: 0;
}

.doctor {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22%;
}

.logo {
    display: block;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

/* See tomorrow: https://css-tricks.com/focusing-on-focus-styles/*/