<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style-3.css">
    <title>Multicolumn with Checkbox Inputs</title>
</head>
<body>
    <div class="wrapper">
        <h1>Choose your newsletters:</h1>
        <form class="multicolumn">
            <div>
                <input type="checkbox" id="angular" name="interest" value="angular">
                <label for="angular">Angular</label>
            </div>
            <div>
                <input type="checkbox" id="angular" name="interest" value="angular">
                <label for="angular">Angular</label>
            </div>
            <div>
                <input type="checkbox" id="angular" name="interest" value="angular">
                <label for="angular">Angular</label>
            </div>
            <div>
                <input type="checkbox" id="angular" name="interest" value="angular">
                <label for="angular">Angular</label>
            </div>
            <div>
                <input type="checkbox" id="angular" name="interest" value="angular">
                <label for="angular">Angular</label>
            </div>
            <div>
                <input type="checkbox" id="angular" name="interest" value="angular">
                <label for="angular">Angular</label>
            </div>
            <div>
                <input type="checkbox" id="angular" name="interest" value="angular">
                <label for="angular">Angular</label>
            </div>
            <div>
                <input type="checkbox" id="angular" name="interest" value="angular">
                <label for="angular">Angular</label>
            </div>
            <div>
                <input type="checkbox" id="angular" name="interest" value="angular">
                <label for="angular">Angular</label>
            </div>
            <div>
                <input type="checkbox" id="angular" name="interest" value="angular">
                <label for="angular">Angular</label>
            </div>
        </form>

        <div>
            <button type="submit">Subscribe</button>
        </div>
    </div>
</body>
</html>