<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>CSS Multicolumn Layout</title>
</head>
<body>
    <div class="wrapper">
        <h1>Dog bites man; says man tastes like chiken</h1>
        <img src="images/dog.webp" alt="Happy Dog">
       <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nulla amet rem dicta. Aut nulla, odio facilis, 
        suscipit dolorem aliquid perspiciatis sit, rerum architecto iste dolore. Placeat at, mollitia dolores officia 
        optio beatae exercitationem. Nulla itaque, suscipit debitis totam tenetur natus quae quos corporis aliquam 
        molestias nesciunt repellat obcaecati consequatur dolorem quia voluptatum modi ipsum consequuntur maiores a 
        dolorum, veritatis ipsa, labore molestiae. Nesciunt ad ea quod obcaecati repudiandae est placeat, quibusdam 
        quos incidunt sequi sed? Similique ipsam deleniti blanditiis, a aliquam quos et harum impedit dolorem ipsum 
        illum magni alias tenetur consectetur maxime quisquam soluta laudantium, id necessitatibus illo amet voluptate
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, Lorem ipsum dolor sit amet consectetur adipisicing 
        elit. Earum molestias, eum quae esse quidem porro ullam libero cum ea officia illum velit accusamus, ex ipsum odit 
        reprehenderit quam. Aliquid, at! 
        </p>
        
        <p>
        Omnis repellat. Id autem soluta similique quibusdam, laborum necessitatibus cumque aperiam quos minus fugit ex, 
        sint, nostrum nulla. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi asperiores aspernatur, 
        eligendi iste voluptas est saepe tempora aperiam consequuntur dolor sed earum distinctio ipsa nemo nam? Aliquam 
        rem enim cum, sed corporis vitae quo exercitationem at facere laudantium atque magni doloribus? Id totam aperiam 
        porro aliquam recusandae officiis facilis, dicta tempora aut voluptatibus quasi itaque qui, deserunt voluptate 
        quae, necessitatibus nobis repellat maxime in quam magnam consequuntur veniam? Sapiente, doloremque earum 
        voluptates aliquid nemo, eveniet perferendis reiciendis animi consequatur nulla commodi rem sequi modi magnam, 
        non accusantium saepe esse quae dolores? Eum possimus eos quisquam ipsam nulla. Odio, qui? Aperiam?
       </p>

       <p>
        Ipsum dolor sit, amet consectetur adipisicing elit. Labore natus dolorum doloribus iure autem! 
        Quo iste alias eligendi, mollitia aperiam ex nobis accusamus repudiandae quas explicabo minus fugit dolores 
        distinctio dolorem et esse harum eum possimus quisquam maiores pariatur amet voluptas cupiditate. Eos dolor 
        perspiciatis nam sunt esse rem nemo.
       </p>

       <p>
        Dolor ipsum sit amet consectetur adipisicing elit. Maxime nulla amet rem dicta. Aut nulla, odio facilis, 
        suscipit dolorem aliquid perspiciatis sit, rerum architecto iste dolore. Placeat at, mollitia dolores officia 
        optio beatae exercitationem. Nulla itaque, suscipit debitis totam tenetur natus quae quos corporis aliquam 
        molestias nesciunt repellat obcaecati consequatur dolorem quia voluptatum modi ipsum consequuntur maiores a 
        dolorum, veritatis ipsa, labore molestiae. Nesciunt ad ea quod obcaecati repudiandae est placeat, quibusdam 
        quos incidunt sequi sed? Similique ipsam deleniti blanditiis, a aliquam quos et harum impedit dolorem ipsum 
        illum magni alias tenetur consectetur maxime quisquam soluta laudantium, id necessitatibus illo amet voluptate 
        omnis repellat. Id autem soluta similique quibusdam, laborum necessitatibus cumque aperiam quos minus fugit ex, 
        sint, nostrum nulla.
       </p>
    </div>
</body>
</html>