<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style-2.css">
    <title>Multicolumn with Lists</title>
</head>
<body>
    <h1>Styling List Using CSS Grid</h1>
    <div class="grid-3-across">
        <ul>
            <li>Apples</li>
            <li>Oranges</li>
            <li>Bananas</li>
            <li>Dragon fruit</li>
        </ul>
        <ul>
            <li>Cherries</li>
            <li>Strawberries</li>
            <li>Blueberries</li>
            <li>Raspberries</li>
        </ul>
        <ul>
            <li>Durian</li>
            <li>Mangosteen</li>
            <li>Mangoes</li>
        </ul>
    </div>

    <h1>Styling List Using CSS Multicolumn</h1>
    <ul class="multicolumn">
        <li>Apples</li>
        <li>Oranges</li>
        <li>Bananas</li>
        <li>Dragon fruit</li>
        <li>Cherries</li>
        <li>Strawberries</li>
        <li>Blueberries</li>
        <li>Raspberries</li>
        <li>Durian</li>
        <li>Mangosteen</li>
        <li>Mangoes</li>
        <li>Blueberries</li>
        <li>Raspberries</li>
        <li>Durian</li>
        <li>Mangosteen</li>
        <li>Mangoes</li>
    </ul>
</body>
</html>