<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>First Example</title>
</head>
<body>
    <div class="flex-container">
        <div class="alpha">
            <b>A</b>
        </div>

        <div class="beta">
            <b>B</b>
            <p>This is a short sentence made of short words.</p>
            <p>Antidisestablishmentarianism is a long word.</p>
        </div>

        <div class="gamma">
            <b>C</b>
            <img src="images/400x300.jpg" width="400" height="300" alt="placeholder">
        </div>

        <div class="delta">
            <b>D</b>
        </div>

        <div class="epsilon">
            <b>E</b>
        </div>
    </div>
</body>
</html>